.test {
  text-align: center;
}

body {
  background-color: #fcfcfc;
  color: black;
}

.account-type-selector {
  padding: 0;
  width: 500;
}

.align-center {
  margin: 0 auto; 
  width: 50%;
}

.header {
  background-color: #2f80ed;
}

.custom-file {
  align-content: center;
}